[data-theme="dark"] {
    --brand-color: #0100a6;
    --background: #111111;
    --text: #ffffff;
    --itme-bg: #FFFFFF1A;
}

[data-theme="light"] {
    --brand-color: #0100a6;
    --background: #ffffff;
    --text: #111111;
    --itme-bg: #F7F7F7;
}
